<div class="page-header">
  <%= link_to new_snapshot_comment_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Snapshot comment
  <% end %>
  <h1>Listing snapshot_comments</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @snapshot_comments) do |snapshot_comment| %>
            <td><%= link_to 'Show', snapshot_comment %></td>
        <td><%= link_to 'Edit', edit_snapshot_comment_path(snapshot_comment) %></td>
        <td><%= link_to 'Destroy', snapshot_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
