<div class="page-header">
  <%= link_to schools_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_school_path(@response.school), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show school</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @response.school.name %></dd>

  <dt>Address:</dt>
  <dd><%= @response.school.address %></dd>

  <dt>City:</dt>
  <dd><%= @response.school.city %></dd>

  <dt>State:</dt>
  <dd><%= @response.school.state %></dd>

  <dt>Zip:</dt>
  <dd><%= @response.school.zip %></dd>

  <dt>Maplink:</dt>
  <dd><%= @response.school.maplink %></dd>

  <dt>Type:</dt>
  <dd><%= @response.school.stype %></dd>

  <dt>Grades:</dt>
  <dd><%= @response.school.grades %></dd>

  <dt>Website:</dt>
  <dd><%= @response.school.website %></dd>

    <dt>Full-Size Logo:</dt>
    <dd><%= image_tag(@response.school.logo.url) if @response.school.logo? %></dd>

    <dt>Large Logo:</dt>
    <dd><%= image_tag(@response.school.logo.large.url) if @response.school.logo? %></dd>

    <dt>Medium Logo:</dt>
    <dd><%= image_tag(@response.school.logo.medium.url) if @response.school.logo? %></dd>

    <dt>Thumb Logo:</dt>
    <dd><%= image_tag(@response.school.logo.thumb.url) if @response.school.logo? %></dd>

    <dt>Small Logo:</dt>
    <dd><%= image_tag(@response.school.logo.small.url) if @response.school.logo? %></dd>

</dl>
